#Container
{
    height: 10px;
}

header
{
    background-color: rgba(255, 255, 255, 0);
    height: 40px;
    font-style: oblique;
    font-size: xx-large;
}



hr
{
    width: 100px;
}

nav
{
    float: inline-start;
    height: 0px;
    width: 99%;
    margin-top: 10px;
    text-align-last:center ;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a
{
   display: inline-block;
   position: relative;
   color: whitesmoke;
}

a:after
{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: whitesmoke;
    transform-origin:center;
    transition: transform 0.25s ease-out;
}

a:hover:after
{
    transform: scaleX(1);
    transform-origin: center;
}


article
{
    height: 400px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;  
    backdrop-filter: blur(4px);
    text-align: center;
    color: white;
}
#mainpage
{
    padding: 15px;
}
#ourstory
{
    padding: 15px;
}
#contactus
{
    padding: 15px;
}
#rsvp
{
    padding: 15px;
}
#giftregistry
{
    padding: 15px;
}